.head {
    background-color: var(--white-color);
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8eb;
    box-sizing: border-box;
    top: 0;
    position: sticky;
    height: 80px;

}