.cbutton {
    background-color: #4d2ee9;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-size: 14px;
   margin-top: 10px;

}


.cbutton:hover {
   background-color:  #615ad6;
}

@media (max-width:1350px) {
    .right{
        padding: 20px;
    }
    
}

@media (max-width: 1050px){

    .right{
        display: none;

     }

}