<!-- center.component.html -->
<div class="center">
    <article>
            <header>
              <div>
                <a href="#" style="text-decoration: none; color: grey;">Documentation ></a>
                <time class="time">Last edited JAN 11 2023</time>
              </div>
            </header>
            <h1 style="font-size: 50px;"> About this editor </h1>
            <p>On this demo application you can try Editor Docs in action and we can also do so many things.</p>
            <p>Try these following steps:</p>
            <ol>
              <li>Go to <a href="#" style="color: black;">Auth Page</a>
              </li>
              <li>Sign in using the <code style="color: rgb(180, 36, 36); background-color: hsla(0,56%,96%,.78);">editor</code> Password </li>
              <li>Try creating the new page using <a href="#" style="color: black;">+Add page</a> button </li>
              <li>Or try to modify any existing page</li>
              <li>Have fun😎</li>
            </ol>
            <div class="note">
              <p>☝️ <b> Note</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All the demo data will be erased after every 5 minutes! </p>
            </div>
            <footer class="copyright">Copyright 2023 Shorter Loop. All rights reserved.</footer>
    </article>
  </div>
  