.container {
    background-color: white;
    display: grid;
    grid-template-columns: 300px 2fr 150px;
    grid-template-rows: 1fr;
    margin-left: 0;
}
#main {
    transition: margin-left .5s; /* If you want a transition effect */
  }


@media (max-width: 1050px){

     .container{
        display: flex;
        flex-direction: column;
        height: 100vh;   
}

}
